<div class="flex flex-col items-center">
  <h1>Create a new post</h1>
  <%= form_with model: @post, class: 'flex flex-col w-1/2', url: user_posts_path do |form| %>
    <%= form.text_field :title, class: 'm-1' %>
    <%= form.text_area :text, class: 'm-1' %>
    <%= form.submit %>
  <% end %>
</div>